div.frame {
    margin: 2.5%;
    font-family: Helvetica;
}

div.grid-2c {
    display: grid;
    column-gap: 5%;
    grid-template-columns: 50% 50%;
    align-items: start;
}

div.grid-2ca {
    display: grid;
    column-gap: 1%;
    grid-template-areas: 'left left right right';
    align-items: start;
    
}

.grid-al {
    padding: 1%;
    grid-area:left;
    border-right: 3px solid
}
.grid-ar {
    padding: 1%;
    grid-area:right;
}

h1.name {
    text-align: left;
    color: rgba(35, 155, 86);
    font-size:x-large;
    margin: 0px;
}

h2.det {
    text-align: left;
    font-size: medium;
    margin-top: 0.5rem;
}
h2 {
    text-align: left;
    font-size:large;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: medium;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.time-range {
    font-size:smaller;
    font-weight: bold;
    margin-top: 0.25rem;
    margin-bottom: 0.05rem;
    padding-left: 0.5em;
}

.pr-detail {
    font-size: small;
}

p.pr-detail {
    margin-left: 0.5em
}

.contact {
    font-size:smaller
}

hr.solid {
    border-top: 3px solid;
}
hr.solid_l {
    border-top: 1px solid;
}

p {
    font-size: small
}

li {
    font-size: small
}